# Days of the week in YYYY-MM-DD format
MON=2020-11-23
TUE=2020-11-24
WED=2020-11-25
THU=2020-11-26
FRI=2020-11-27
# Number of days in the week
NUM_OF_DAYS=2
# Should we post to Sunguard after creating the files? true or false
POST_TO_SUNGUARD=true
# Section Number from Sunguard for each class. DD
PERIOD1=03
PERIOD2=18
PERIOD3=24
PERIOD4=
PERIOD5=
PERIOD6=
PERIOD7=
PERIOD8=
PERIOD9=
# Number of Periods D
NUM_OF_PERIODS=1
# Grab from URL
SSID_ROSTER=
# Grab from URL
SSID_ATTENDANCE=
# Double Check this value!  Grabbed from inspecting a POST request from saving attendance in Sunguard
TAC_COOKIE=
