# Should we post to Sunguard after creating the files? true or false
POST_TO_SUNGUARD=false
#
########################
# Marking Period       #
########################
MARKING_PERIOD=MP4
#
########################
# Days of the week     #
########################
# Days of the week in YYYY-MM-DD format
MON=2020-12-09
TUE=2020-12-08
WED=2020-12-07
THU=2020-12-06
FRI=2020-12-05
# Number of days in the week you are taking attendance for.
NUM_OF_DAYS=5
#
##################################
# POST Request Information       #
##################################
# Double Check this value!  Grabbed from inspecting a POST request from saving attendance in Sunguard
TAC_COOKIE=TACDistrict;TACServer;TACDatabase;TACSummerSchool;__RequestVerificationToken;ASP.NET_SessionId;eSPADAuthCookie;
# Grab from URL
SSID_ROSTER=
# Grab from URL
SSID_ATTENDANCE=
########################
# Class Information    #
########################
# Toggle Courses to take attendance for by putting a # at the beginning of the line.
#
# AP Physics Mod 3
COURSEID1=0232-1
POST_COURSE_1=false
#
# APEX Chemistry Mod 3
COURSEID2=A0219-1
POST_COURSE_2=true
#
# APEX Physical Science Mod 3
COURSEID3=A0209-1
POST_COURSE_3=true
#
# APEX Physics Mod 3
COURSEID4=A0230-1
POST_COURSE_4=true
#
# Physics Mod 3
COURSEID5=0230-1
POST_COURSE_5=false
#
# APEX Honors Chemsitry Mod 18
COURSEID6=A0219H-1
POST_COURSE_6=true
#
# APEX Chemistry Mod 24
COURSEID7=A0219-2
POST_COURSE_7=true
#
#
COURSEID8=
POST_COURSE_8=false
#
# 
COURSEID10=
POST_COURSE_10=false
#
#
COURSEID10=
POST_COURSE_10=false
